// Colors
$dark: #191919;
$light: #fdfdfd;
$blue: #13e3f6;
$gray: #888888;
$light-gray: #dddddd;
$text: #333333;

// Typography
$font: "Pretendard", sans-serif;

// Section spacing
$section-margin: 200px 0;

// Transitions
$transition: all 0.3s ease;
