@use "../../styles/variables" as *;

.works {
  background-color: $light;
  padding: 0 150px;

  &__title-wrap {
    text-align: center;
    padding: 120px 0 100px;
  }

  &__title {
    font-size: 200px;
    font-weight: 700;
    color: $blue;
    line-height: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 200px;
  }

  &__item:nth-child(2) &__info {
    padding: 0 12px 0 0;
  }

  &__item:nth-child(2) &__row {
    margin-right: -10px;
  }

  &__item:nth-child(2) &__images {
    order: -1;
  }
  &__name {
    font-size: 24px;
    font-weight: 600;
    color: $dark;
    text-align: center;
    padding: 50px 60px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 540px;
    align-items: start;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 20px 0 0;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid rgba($dark, 0.3);
    padding-bottom: 20px;
    margin-right: -80px;
    padding-right: 9px;

    &:first-child {
      border-top: 1px solid rgba($dark, 0.3);
      padding-top: 20px;
    }
  }

  &__label {
    font-size: 16px;
    color: rgba($dark, 0.5);
    text-transform: uppercase;
  }

  &__desc {
    font-size: 16px;
    color: $dark;
    line-height: 1.2;
  }

  &__value {
    font-size: 16px;
    color: $dark;
    line-height: 1.2;
  }

  &__tools {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__tool-icon {
    height: 32px;
    width: auto;
    display: block;
  }

  &__buttons {
    display: flex;
    gap: 32px;
    padding-top: 30px;
  }

  &__btn {
    font-size: 18px;
    padding: 10px 28px;
    border-radius: 40px;
    transition: $transition;
    cursor: pointer;

    &--outline {
      border: 1px solid rgba($dark, 0.25);
      color: $dark;

      &:hover {
        background-color: $dark;
        color: $light;
        border-color: $dark;
      }
    }
  }

  &__images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__img {
    width: 85%;
    height: auto;
    object-fit: contain;
    display: block;

    &--large {
      width: 95%;
    }
  }
}
